# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#

30 0 * * * root cd /home/ubuntu01/user_portrait/user_portrait/cron/flow1&&./4_timer.sh
35 0 * * * root cd /home/ubuntu01/user_portrait/user_portrait/cron/scan && ./timer.sh

0 4 * * * root cd /home/ubuntu01/user_portrait/user_portrait/cron/flow1&&./8_timer.sh

20 0 * * * root cd /home/ubuntu01/user_portrait/user_portrait/cron/flow2 && ./flow2_timer.sh

20 0 * * * root cd /home/ubuntu01/user_portrait/user_portrait/cron/flow3 && ./flow3_timer.sh

20 1 * * * root cd /home/ubuntu01/user_portrait/user_portrait/cron/flow4 && ./flow4_timer.sh

40 0 * * * root cd /home/ubuntu01/user_portrait/user_portrait/cron/flow_text && ./flow_text_timer.sh

0 8 * * * root cd /home/ubuntu01/user_portrait/user_portrait/cron && python delete_redis.py >> /home/log/delete_redis.log

0 1 * * 1 root cd /home/ubuntu01/user_portrait/user_portrait/cron/flow3 && ./scan_redis.sh


